{{#> layout }}
<p>Hello {{name}},</p>
<p>
  Welcome to JobPortal
</p>
<p>
  Please verify your email address by clicking the button below:
</p>
<p>
  <a href="{{url}}" class="button">
    Confirm email address &rarr;
  </a>
</p>
{{/layout}}